{% load bootstrap3 %} {% load static %} {% bootstrap_css %} {% block content %}

<head>
  <title>Rent the Dress</title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="{% static 'rent.css' %}" type="text/css" rel="stylesheet" />
  <link href="{% static 'imgs/dress_icon.png' %}" rel="shortcut icon" />
  <script src="{% static 'rent.js' %}" defer></script>
</head>

<body>

  <ul class="topnav" id="myTopnav">
        <li><a href="{% url 'RentTheDress:home' %}">Home</a></li>
        <li><a href="{% url 'RentTheDress:inventory' %}">Inventory</a></li>
        <li><a href="{% url 'RentTheDress:about' %}">About</a></li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="responsive()">&#9776;</a></li>
    </ul>

  <br /><br /><h1>Welcome to Rent the Dress!</h1><br />
  <center>
    <div class="fading" style="max-width:400px">
      <!--These are the pictures the carousel function takes in by the class name-->
      <img class="animate-fading" src="{% static 'imgs/casual.jpg' %}" style="width:100%">
      <img class="animate-fading" src="{% static 'imgs/cocktail.jpg' %}" style="width:100%">
      <img class="animate-fading" src="{% static 'imgs/evening.jpg' %}" style="width:100%">
      <img class="animate-fading" src="{% static 'imgs/pageant.jpg' %}" style="width:100%">
      <img class="animate-fading" src="{% static 'imgs/prom.jpg' %}" style="width:100%">
      <img class="animate-fading" src="{% static 'imgs/wedding.jpg' %}" style="width:100%">
    </div>
  </center>
</body>
{% endblock %}