{% load bootstrap3 %} {% load static %} {% bootstrap_css %} {% bootstrap_javascript %} {% block content %}

<head>
    <title>Rent the Dress</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="{% static 'rent.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'rent.js' %}"></script>
    <link href="{% static 'imgs/dress_icon.png' %}" rel="shortcut icon" />
</head>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="jquery.tools.min.js"></script>

    <ul class="topnav" id="myTopnav">
        <li><a href="{% url 'RentTheDress:home' %}">Home</a></li>
        <li><a href="{% url 'RentTheDress:inventory' %}">Inventory</a></li>
        <li><a href="{% url 'RentTheDress:about' %}">About</a></li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="responsive()">&#9776;</a></li>
    </ul>

    <h1>Inventory</h1>

    <center><button id="btn" type="button" onclick="showTotal()">Show Total</button> <b><p id="total"></p></b></center>
    <p>Under each item select the quantity and click add. When finished click the button above to display the total.</p>

    <div class="images">
        <div class="imgContainer">
            <img src="{% static 'imgs/casual.jpg' %}">
            <p id="dress">Casual Dress</p>
            <p id="description">Simple and beautiful for everyday wear.</p>
            <center><input type="number" id="Casual" placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Casual')">Add</button></center>
            <p id="price">$120</p>
        </div>

        <div class="imgContainer">
            <img src="{% static 'imgs/cocktail.jpg' %}">
            <p id="dress">Cocktail dress</p>
            <p id="description">Classy dress for late nights with work friends.</p>
            <center><input type="number" id='Cocktail' placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Cocktail')">Add</button></center>
            <p id="price">$100</p>
        </div>

        <div class="imgContainer">
            <img src="{% static 'imgs/evening.jpg' %}">
            <p id="dress">Evening dress</p>
            <p id="description">Elegant dress for any formal event.</p>
            <center><input type="number" id='Evening' placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Evening')">Add</button></center>
            <p id="price">$175</p>
        </div>

        <div class="imgContainer">
            <img src="{% static 'imgs/pageant.jpg' %}">
            <p id="dress">Pageant dress</p>
            <p id="description">Stunning sequin pageant dress.</p>
            <center><input type="number" id='Pageant' placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Pageant')">Add</button></center>
            <p id="price">$150</p>
        </div>

        <div class="imgContainer">
            <img src="{% static 'imgs/prom.jpg' %}">
            <p id="dress">Prom dress</p>
            <p id="description">Gorgeous 2-piece prom dress</p>
            <center><input type="number" id='Prom' placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Prom')">Add</button></center>
            <p id="price">$200</p>
        </div>

        <div class="imgContainer">
            <img src="{% static 'imgs/wedding.jpg' %}">
            <p id="dress">Wedding dress</p>
            <p id="description">Simple elegant wedding dress.</p>
            <center><input type="number" id='Wedding' placeholder="Quan" min="0" max="20">
                <button id="button" type="button" onclick="purchaseItem.scan('Wedding')">Add</button></center>
            <p id="price">$300</p>
        </div>
    </div>
</body>

{% endblock %}