{% load bootstrap3 %} {% load static %} {% bootstrap_css %} {% bootstrap_javascript %} {% block content %}

<head>
    <title>Rent the Dress</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="{% static 'rent.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'rent.js' %}"></script>
    <link href="{% static 'imgs/dress_icon.png' %}" rel="shortcut icon" />
</head>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="jquery.tools.min.js"></script>

    <ul class="topnav" id="myTopnav">
        <li><a href="{% url 'RentTheDress:home' %}">Home</a></li>
        <li><a href="{% url 'RentTheDress:inventory' %}">Inventory</a></li>
        <li><a href="{% url 'RentTheDress:about' %}">About</a></li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="responsive()">&#9776;</a></li>
    </ul>

    <h1>Inventory</h1>

    <center><h3>You can only rent 1 dress at a time</h3></center>

{% for dress in dresses %}
 <div class="imgContainer">
            <img src="{% static  dress.static_url  %}">
            <p id="dress">{{ dress.name }}</p>
            <p id="description">{{ dress.description }}</p>
            <center><input type="number" id='btn' placeholder="Quan" min="0" max="{{ dress.quantity }}">
            <form action="{% url 'RentTheDress:rent' dress.id %}" method="GET">
                {% csrf_token %}
                <input id="button" type="submit" value="Add"></input></center>
                </form>
            <p id="price">${{ dress.price }}</p>
        </div>  
{% endfor %}
</body>

{% endblock %}